/* 575 d3 lab style.css */
.container {
  background-color: #6896f3;
}

.rectangle {
  fill: #5336f2;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.6em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
